body {
    font-family: "Open Sans", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;

   }
  h2,
  h3 {
    font-family: "Lobster", cursive; }
  
  h2 {
    color: darkgray ; }
  
  header h2 {
    color: #CEC8FF; }
  
  .site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px; }
  
  .jumbotron {
    margin: 0px;
    padding: 30px;
    background-image: linear-gradient(to right, #5637dd, #3046C5, #60106b);
    color: white; }
  
  .row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px; }
  
  .navbar-dark {
    background-color:white; }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); }
  
  .carousel {
    border: solid #5637dd; }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center; }
  
  #carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100; 
  }
  .section-header{
    margin-top: 200px;
    text-align: center;
    font-weight: bolder;
  
  }
  .image-navvar{
    border-radius: 10px;
  }
  .bg-img{
    background-image: url(/images/mountain.jpeg);
    min-height: 480px;
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mountain{
    text-align: center;
    font-weight: bolder;
    font-style:normal;
    font-size: 50px;
  }

  h1{
    text-align: center;
    font-weight: bolder;
    font-style:  normal;
    font-size: 50px;
  }